__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
.pytest_cache/
htmlcov/
.mypy_cache/
.vscode/

*.log
local_settings.py
db.sqlite3 # Игнорируем базу данных SQLite3, чтобы она не попадала в образ Docker
media/
static_collected/

.git/
.gitignore

docker-compose.yml
Dockerfile

.env