{% extends 'base.html' %}

{% block title %}Купить {{ item.name }}{% endblock %}

{% block extra_head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <p class="price">${{ item.get_price }}</p>
            <button id="buy-button" class="button">Купить</button>
            {% csrf_token %}
        </div>
    </div>

    <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var stripe = Stripe("{{ STRIPE_PUBLISH_KEY }}");
        var buyButton = document.getElementById("buy-button");
        buyButton.addEventListener('click', function() {
            fetch("{% url 'create-checkout-session' item.id %}", {
                method: "GET",
                headers: {
                    "X-CSRFToken": csrftoken
                }
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
        });
    </script>
{% endblock %}